flow.json
[{"id":"3270b295.13314e","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"e0f5f105.38a16","type":"http response","z":"3270b295.13314e","name":"","statusCode":"","headers":{},"x":650,"y":120,"wires":[]},{"id":"c99d23a6.60262","type":"http in","z":"3270b295.13314e","name":"","url":"/page","method":"get","upload":false,"swaggerDoc":"","x":170,"y":120,"wires":[["b2bd4b51.ac0b28"]]},{"id":"b2bd4b51.ac0b28","type":"function","z":"3270b295.13314e","name":"","func":"msg.payload = \"Goodbye Node-RED Projects\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["7832ed8b.37ca84"]]},{"id":"7832ed8b.37ca84","type":"template","z":"3270b295.13314e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<body>\nThis is the payload: {{payload}} !\n</body>\n</html>","output":"str","x":480,"y":120,"wires":[["e0f5f105.38a16"]]}]